*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* A mãe de todos:  */
.main_login{
    display: flex;
    height: 100vh;
}

/* Banner da esquerda: */
.banner{
    background-image: url("../../assets/img/fundoLogin.png ");
    flex: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}



/* Form de login da direita: */
.section_login{
    flex: 1;
    display: flex   ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #cc3f55
    ;
}

.section_login img{
    width: 350px;
}

.form_login h1 {
    text-transform: uppercase;
    display: flex
;
    justify-content: center;
    color: white;
    margin-top: 90px;
    margin-bottom: 30px;
}

input[type="email"] {
    border-radius: 10px;
    border-color: white;
    width: 400px;
    height: 30px;
    padding: 1px 10px;
    box-shadow: 2px 4px 1px 0px #0000002b;
}

input[type="password"] {
    border-radius: 10px;
    border-color: white;
    width: 400px;
    height: 30px;
    padding: 1px 10px;
    box-shadow: 10px;
    box-shadow: 2px 4px 1px 0px #0000002b;
}

/* .BotaoEntrar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 38px;
    border-radius: 14px;
    border-color: #74041c;
    background-color: #74041c;
    color: white;
    margin-top: 50px;
} */

.form_login {
    margin-bottom: 160px;
    display: flex
;
    flex-direction: column;
    align-items: center;
}

.divisor{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

div{
    color: white;
}


@media screen and (max-width: 768px){
    .banner{
        display:none
    }
}
